@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	margin: 0;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-o-user-select: none;
	user-select: none;
}

.no-drag {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.no-display {
	display: none;
}

.normal-style-text {
	font-weight: 400;
}

.bold-style-text {
	font-weight: 900;
}

/* unvisited link */
a:link {
	color: #5B5C5C;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #5B5C5C;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #2D98BD;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #D9DFEB;
	text-decoration: none;
}

html, body, .container {
	overflow: hidden;
	margin: 0;
	height: 100%;
}

/* sidebar css rules */
.sidebar-controls {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#canvas-control-help-labels {
	position: absolute;
	right: 55px;
	top: 70px;
	z-index: 1;
}

#canvas-control-help-dimmer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#sidebar-control-settings, #sidebar-control-help {
	margin: 5px auto;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.sidebar {
	position: absolute;
	height: 100%;
	width: 45px;
	right: 0;
	top: 0;
	border-left: solid #C9CACA 1px;
	background: #F1F3F6;
}

.sidebar-tab:hover:not(#placeholder) {
	background: #FFF;
}

.sidebar-tab {
	cursor: pointer;
	position: relative;
	border-bottom: solid #C9CACA 1px;
	background: #F1F3F6;
	padding: 8px 0;
}

#placeholder {
	cursor: default;
	padding: 7px 0;
}

.sidebar-icon {
	display: block;
	margin: 0 auto;
	width: 25px;
	height: 25px;
	padding: 6px 0;
}

#side-panel {
	right: 0;
	margin-top: 0;
	width: 0;
	height: 500px;
	top: 28px;
}

.checkbox-content {
	height: 50%;
	overflow-y: auto;
}

.checkbox {
	padding-top: 10px;
	font-size: 1.1em;
}

.grey-box {
	background-color: #F1F3F6;
}

/* /sidebar rules */

/* sidepage css rules */
.sidepage.inactive {
	display: none;
}

.sidepage.active {
	border-left: 1px solid #C9CACA;
	position: absolute;
	top: 28px;
	right: 47px;
	width: 245px;
	background: white;
	word-wrap: break-word;
	padding: 3px;
	height: 100%;
}

.sidepage-description {
	border-top: 1px solid #C9CACA;
	position: absolute;
	top: 50%;
	width: 205px;
	word-wrap: break-word;
	padding: 3px;
	background: white;
	height: 50%;
}

/* /sidepage bar rules */

/* top panel css rules */
#top-panel {
	position: absolute;
	height: 28px;
	width: calc(100% - 46px);
	min-width: 555px;
	background: #F1F3F6;
	cursor: default;
	border-bottom: solid #C9CACA 1px;
	z-index: 1;
}

#top-panel h1, h2, h3, h4, h5, h6, p { /* inspect this selection more closely */
	cursor: default;
}

#search-bar {
	margin: 4px 1px 0 5px;
	float: left;
}

#date {
	float: right;
	cursor: pointer;
	padding: 4px 10px;
	border-right: solid #C9CACA 1px;
	border-left: solid #C9CACA 1px;
}

#date:hover {
	background: #FFF;
	border-bottom: solid #C9CACA 1px;
}

#mapviews-title {
	margin: 4px 10px 0 5px;
	float: right;
	padding-left: 10px;
}

#mapviews {
	margin: 5px 5px 0 5px;
	float: right;
}

#submit {
	margin: 4px 5px 0 0;
	float: left;
}

#progress-bar { /* increase width to increase progress */
	position: absolute;
	width: 0;
	max-width: 100%;
	top: 29px;
	height: 1px;
	z-index: 2;
	background: black;
}

/* /top panel css rules */

/* Google Maps css rules */
#map-container {
	margin: 28px 0 0 0;
	width: calc(100% - 45px);
	height: calc(197% - 28px);
}

.map {
	height: 100%;
	width: 100%;
}

/* /Google Maps css rules */

@-moz-document url-prefix() { /* firefox specific css rules */
	#date:hover {
		background: #FFF;
		border-bottom: solid #C9CACA 1px;
		padding: 4px 10px; /* still having issues on linux OS, works fine on Windows */
	}
}

/* Map Legend CSS styles */
.maplegend {
	font-family: Arial, sans-serif;
	background: #FFF;
	padding: 10px;
	margin: 10px;
	border: 3px solid #000;
}

/* Map Title CSS styles */
.mapTitle {
	font-family: Arial, sans-serif;
	background: #EBEEF7;
	padding: 10px;
	margin: 10px;
	border: 3px solid #000;
}
  
  
  
  
